@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #FFF2CC;
  font-family: 'Orbitron', sans-serif;
  color: white;
}

.main-content {
  text-align: center;
  margin-top: 4rem;
}

.menu-item:hover {
  background-color: #8d0002;
}