.services {
    display: flex;
    justify-content: center;
    gap: 3rem;
  }
  
  .service-item {
    background-color: #1a0a0a;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 3px;
    transition: background 0.3s ease;
  }
